.about-project{
    background-color: #E6E6E6;
}
.about-project .about-project-text h1{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.about-project .about-project-text p{
    font-family:'Work Sans', sans-serif;
}
.about-project img{
   width: 100%;
}

.about-project .about-project-text{
    padding-top: 150px;
    padding-right: 50px;
}
.about-project .about-project-text h1{
    padding-bottom: 10px;
    font-size: 45px;
}
.about-project .about-project-text p{
    font-size: 18px;
}
.about-project-three{
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-project-three h3{
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
.about-project-three p{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
}
@media (max-width: 1200px){
    .about-project .about-project-text{
        padding-top: 100px;
    }
    .about-project-three .row > div{
        padding-bottom: 25px;
    }

}
@media (max-width: 768px){
    .about-project-three {
        padding-bottom: 75px;
        padding-left: 10px;
    }
}
